@import "@fontsource/redacted-script" layer(base);
@import "@fontsource/inconsolata" layer(base);

@import "tailwindcss";
@import "tw-animate-css";

@import "@prosekit/basic/style.css";
@import "@prosekit/basic/typography.css";

.ProseMirror h2,
.ProseMirror h3,
.ProseMirror h4 {
  margin: 0.5em 0 0.5em;
}

.ProseMirror .ProseMirror-selectednode {
  background-color: var(--background);
  outline: 1px solid var(--color-border);
}

@custom-variant dark (&:is(.dark *));

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;

  @media (width >=--theme(--breakpoint-sm)) {
    max-width: none;
  }

  @media (width >=1400px) {
    max-width: 1400px;
  }
}

@theme {
  --color-border: hsl(var(--border));
  --color-input: hsl(var(--input));
  --color-ring: hsl(var(--ring));
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));

  --color-primary: hsl(var(--primary));
  --color-primary-foreground: hsl(var(--primary-foreground));

  --color-secondary: hsl(var(--secondary));
  --color-secondary-foreground: hsl(var(--secondary-foreground));

  --color-destructive: hsl(var(--destructive));
  --color-destructive-foreground: hsl(var(--destructive-foreground));

  --color-muted: hsl(var(--muted));
  --color-muted-foreground: hsl(var(--muted-foreground));

  --color-accent: hsl(var(--accent));
  --color-accent-foreground: hsl(var(--accent-foreground));

  --color-popover: hsl(var(--popover));
  --color-popover-foreground: hsl(var(--popover-foreground));

  --color-card: hsl(var(--card));
  --color-card-foreground: hsl(var(--card-foreground));

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  --shadow-input:
    0px 2px 3px -1px rgba(0, 0, 0, 0.1), 0px 1px 0px 0px rgba(25, 28, 33, 0.02),
    0px 0px 0px 1px rgba(25, 28, 33, 0.08);
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 210, 28.57%, 97.25%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;

    --radius: 0.5rem;

    --nested-dialogs: 1;

    --separator-border: hsl(var(--border)) !important;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

/* custom css */

.redacted:not(:hover) {
  font-family: "Redacted Script";
}

.iconsolata {
  font-family: "Inconsolata", monospace;
}

.no-scrollbar {
  scrollbar-width: none;
}

.mapboxgl-popup-tip,
.maplibregl-popup-tip {
  display: none;
}

.mapboxgl-popup,
.mapboxgl-popup-content,
.maplibregl-popup,
.maplibregl-popup-content {
  border-radius: 1rem !important;
}

.mapboxgl-popup-content,
.maplibregl-popup-content {
  padding: 1rem !important;
  background: none !important;
}

.glow-container:before {
  pointer-events: none;
  position: absolute;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border-radius: 1rem;
  opacity: 0;
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.3s;
  animation-duration: 0.3s;
}

@media (min-width: 640px) {
  .glow-container:before {
    border-radius: 1.5rem;
  }
}

.glow-container:hover:before {
  opacity: 1;
}

.glow-container:before {
  background: radial-gradient(
    700px circle at var(--x) var(--y),
    #dd7bbb 0,
    #d79f1e 10%,
    #5a922c 25%,
    #4c7894 35%,
    rgb(0 0 0 / 0.1) 80%
  );
  content: "";
  inset: -1px;
}

.dark .glow-container:before {
  background: radial-gradient(
    700px circle at var(--x) var(--y),
    #dd7bbb 0,
    #d79f1e 10%,
    #5a922c 25%,
    #4c7894 35%,
    rgb(255 255 255 / 0.2) 80%
  );
}

/**:not(input, textarea) {*/
/*  -webkit-user-select: none;*/
/*  -moz-user-select: none;*/
/*  -ms-user-select: none;*/
/*  user-select: none;*/
/*}*/

/* base-ui */
.root {
  isolation: isolate;
}

body {
  position: relative;
}

/* /base-ui */
