name: Build App

on:
  push:
    branches: [main]
    paths: [app/**]
  pull_request:
    branches: [main]
    paths: [app/**]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Login to GHCR
        if: github.event_name == 'push'
        uses: docker/login-action@v3.6.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ github.token }}

      - name: Build and push app
        uses: docker/build-push-action@v6
        with:
          context: app
          push: ${{ github.event_name == 'push' }}
          tags: ghcr.io/antoncuranz/kompass/app:latest
