name: Playwright Tests

on:
  push:
    branches: [main]
    paths: [app/**]
  pull_request:
    branches: [main]
    paths: [app/**]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - uses: actions/setup-node@v6
        with:
          node-version: lts/*

      - name: Install dependencies
        run: npm ci
        working-directory: ./app

      - name: Install Playwright Browsers
        run: npx playwright install --with-deps
        working-directory: ./app

      - name: Run Playwright tests
        run: npx playwright test
        working-directory: ./app

      - uses: actions/upload-artifact@v5
        if: ${{ !cancelled() }}
        with:
          name: playwright-report
          path: app/playwright-report/
          retention-days: 30
