name: Build and Push sync-server

on:
  push:
    branches:
      - main
    paths:
      - sync-server/**

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Login to GHCR
        uses: docker/login-action@v3.1.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ github.token }}

      - name: Build and push app
        uses: docker/build-push-action@v6
        with:
          context: app
          push: true
          tags: ghcr.io/antoncuranz/kompass/sync-server:latest
